header {
  text-align: center;
  color: brown;
  background: linear-gradient(229deg, #50d990, #d4d054);
  height: 8vh;
  display: flex;
  justify-content: center;
  width: 91em;
  margin: auto;
  margin-top: 1.8em;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}
#TheGameScreen {
  position: relative;
  width: 72em;
  height: 80vh;
  margin-top: 1em;
  background-color: black;
}
#blackScreen {
  width: 100%;
  height: 100%;

  position: absolute;
}
#CatchMe {
  background: linear-gradient(229deg, #2fc676, #cbc742);
  color: rgb(14, 3, 97);
  width: 7.3em;
  height: 1.8em;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  box-shadow: 0 2px 4px #fff;
}

.wrapper {
  width: 18em;
  height: 80vh;
  background: linear-gradient(229deg, #fbab7e, #f7ce68);
  margin-top: 1em;
}
#Main-div {
  width: 17em;
  margin: auto;
  background-color: #fff;
  padding-left: 0.3em;
}
#wrapperinfo div {
  width: 17em;
  background-color: #fff;
  color: black;
  padding-left: 0.3em;
  margin: auto;
}
#highscorestitle {
  margin-top: 0.1em;
}
h3 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}
p {
  margin-top: 0;
  font-weight: bold;
  font-size: 30px;
  color: green;
  margin-bottom: 0;
}
.highscore {
  margin-top: 0.1em;
  font-size: 20px;
  color: green;
  margin-bottom: 0;
  position: relative;
}
span:after {
  content: attr(TITLEpv);
  position: absolute;
  background: #000;
  color: #fff;
  left: 58%;
  top: -35%;
  font-size: 12px;
  width: 100px;
  padding: 5px;
  border-radius: 4px;
  transition: 300ms;
  opacity: 0;
  pointer-events: none;
  transform: translateY(15px);
  z-index: 999;
}
span:hover::after {
  opacity: 1;
  transform: translateY(5px);
}

.TURNLEVEL1 {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.TURNLEVEL2 {
  animation-name: spin;
  animation-duration: 1750ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.TURNLEVEL3 {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.TURNLEVEL4 {
  animation-name: spin;
  animation-duration: 1250ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.TURNLEVEL5 {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#clickToStart {
  cursor: pointer;
  background: linear-gradient(229deg, #fbab7e, #f7ce68);
  border: none;
  height: 7vh;
  align-self: center;
  border-radius: 5px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(236, 222, 222, 0.6);
}
#clickToStart:hover {
  transform: scale(1.03);
}
#Main-div {
  margin-top: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}
